{% load static  %}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>

    <title>My Precious Fountainpens</title>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static  'fountainpens/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static  'fountainpens/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static  'fountainpens/css/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static  'fountainpens/css/owl.theme.default.min.css' %}">

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Writing Instruments</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Fountain Pens
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/fountainpens/">Fountain Pens</a></li>
                  <li><a class="dropdown-item" href="/fountainpens/nibs/">Nib</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rollerball Pens</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ballpoint Pens</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Brands</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<body>

    {% block content %}{% endblock %}

</body>

</html>